# Compiled binaries
*.exe
*.o
*.obj

# Temporary files created by the program
shrink.txt
full_arch_setup.sh

# Windows temporary files
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Build artifacts
build/
dist/
